
$main-bg-color: #ba97bd;
$hover-color: #fa8900;
$button-color: #f55600;
$white-color: #ffffff;
$form-color: #e5e5e6;
$font:"https://fonts.googleapis.com/css?family=Open+Sans:400,800";


.page-wrapper {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}
 .btn-block {
    margin: 0 !important;
}
.btn{
    cursor: pointer;
&:hover{
            color:black !important;
            cursor: pointer;
             background-color: $hover-color !important;
             transform:scale(1.05);
              
     }

  }
.btn-primary {
    color: #fff;
    background-color:$button-color !important;
    border-color: $button-color !important;

}

  span.error {
    color: #9F3A38;
  }